{% if form.errors %}
    <p> Your Username of password was incorrect </p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p> you don't have permission for this page</p>

  {% else %}
    <p> Please login to see this page </p>
  {% endif %}

{% endif %}

<form method='POST' action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.username.label_tag }}
  {{ form.username }}

  {{ form.password.label_tag }}
  {{ form.password }}
  <input type="submit" value="Login">
  <input type="hidden" name="next" value="{{next}}">
</form>